@charset "utf-8";

#wrap {
    width: 100%;
    
}
h5{
    font-size: 17px;
    color: #095ec7;
    font-weight: 700;
    margin: 15px 28px 11px;
}
h2 {
    border-bottom: 2px solid #2c3976;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #0d0d0d;
}
#header{
    width: 99%;
    margin: 10px auto;
    border: 1px solid #444343;
    height: 80px;
    position: relative;
    z-index: 1;
}
#header > h1{
    position: absolute;
    top: 50%;
    left: 15px;
    width: 20%;
    transform: translateY(-50%);
}
#header > h1 >img{
    width: 70%;
    display: block;
}
#header > div{
    width: 30%;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
#header > div >p{
    width: 83%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
#header > div >p >span:first-child{
  float: left;
}
#header > div >p >span:last-child{
    float:right;
  }
  #header > div >p >span{
    font-size: 17px ;
    color: #2c3976;
    font-weight: 700;
}
#header > div >button{
    background-color: transparent;
    float: right;
    display: block;
    width: 12%;
}
#header > div >button >img{
    width: 100%;
    display:block;
}
#header > div >span{
    display: inline-block;
}
button.arrow,
button.arrow02 {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    line-height: 10px;
    
}

button.arrow > img,
button.arrow02 > img {
    width: 50%;
    vertical-align: inherit;
}
html, body {
    height: 100%;
}
form{
    height: 100%;
    width: auto;
}
#wrap {
    height: 100%;
    width: auto;
}


#contentWrap {
    min-height: 100%;
    width:99%;
    margin: 0 auto;
    position: absolute;
    top:100px;
    left: 0px;
}

/* IE Hack */
*html #contentWrap {
    height: 100%;
}

#leftWrap {
    width:150px;
    box-shadow:1px 2px 3px 0px rgb(0 0 0 / 30%) ;
    float: left;
    height: 100%;
    position:absolute ;
    top: 0; left: -300px;
    background-color: #f6f6f7;
    padding-top: 30px;
}
#container {
   
    width: 98%;
    float: right;
    margin:0 auto
}
#leftWrap > h2{
    font-size: 16px;
    font-weight: bold;
}

#leftWrap::after {
    clear: both;
    display: block;
    content: "";
}
#leftWrap > ul > li{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#leftWrap > ul > li > a{
    width: 100%;
    display: block;
}
#leftWrap > ul > li > a.on{
    background-color: #3f9dfc;
    color: #fff;
    font-weight: bold;
}
#open1{
    display: block;
    width: 30px; height: 30px;
    position: fixed;
    top:100px; left: 0;
    background-color: #2c3976;
    font-size: 0; color: transparent;
   }
#open1 span, #open1::before, #open1::after{
   display: block;
   height: 2px; 
   width: 13px;
 background-color: #fff; 
   position: absolute;
   left: 50%;
   top:35%; 
   transform: translate(-50%);

 }
#open1::before, #open1::after{ 
   content: ''; 
}
#open1 span{
   margin:4px 0px;
   font-size: 0 ; 
   color: transparent;
}
#open1::after{ 
margin: 8px auto; 
}

/* .close1 {
    display: block;
    width: 30px;
    height:100%;
    position: absolute;
    top: 0%;
    left: 0px;
    background-color: #2c3976;
    color: transparent;
    font-size: 0;
}

.close1::after {
    content: 'X';
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: bold;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
} */
#close1{
    display: block; 
    width:25px ; 
    height:25px ;
    position: absolute; top: 5px;right: 10px;
    background-color: #d6d7db; font-size: 0; color: transparent;}

#close1::after{
content: '';
display: block; 
height: 12px; width: 12px;
font-weight: bold; 
position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
background: url(../img/banner_left_btn.png) no-repeat ;
}
.menu_group {width: 80%;
    float: right;
}

.menu_group li {
    padding: 20px 0;
    text-align: center;
    
}

.btn {
    border: 0px solid #fff;
    background-color: transparent;
    height: 60px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: NanumSquare, sans-serif;
    color: #000;
    width: 100%;
}

dl dt.on span {
    position: absolute;
    top: 22%;
    left: 30%;
    display: inline-block;
}

.section_tit span, .section_tit1 span {
    position: relative;
}

.section_tit i, .section_tit1 i {
    background: url(../img/arr_w.png) no-repeat;
    background-size: 90%;
    float: left;
    width: 15px;
    height: 15px;
    display: block;
    top: 13px;
    position: relative;
    left: 10px;
}


.section_tit .i-open, .section_tit1 .i-open {
    background: url(../img/arrow_on.png) no-repeat;
    background-size: 90%;
    float: left;
    width: 15px;
    height: 15px;
    display: block;
    top: 13px;
    position: relative;
    left: 10px;
    /*transform: rotate( 90deg );*/
}

.section_tit {
    font-size: 15px;
    border: 1px solid #7fb0fa;
    margin: 10px auto;
    width: 99%;
    height: 60px;
    line-height: 40px
}

.section_tit1 {
    font-size: 15px;
    border: 1px solid #7fb0fa;
    margin: 10px auto;
    width: 99%;
    height: 62px;
    line-height: 40px;
    background-color: #d5e9f6
}

dl {
    width: 100%;
    margin: 0 auto;
}

dl dt {
    margin-left: 35px;
    /*margin-top: 10px;*/
    font-weight: bold;
    color: rgb(7, 7, 7);
    /*height: 80px;
    line-height: 80px;*/
    padding: 5px 0;
    text-align: center;
    position: relative;
    
}

dl dt::after {
    content: '';
    background: url(../img/banner_right_btn.png) no-repeat;
    display: block;
    width: 10px;
    background-size: 7px;
    height: 10px;
    position: absolute;
    top: 28px;
    right: 10px;
}


.pd-10 {
    padding: 10px 0 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

dl dt.on {
    background-color: #b7c6e7;
    color: #000;
    /*height: 60px;
    line-height: 60px;*/
    border-radius: 6px;
    margin: 4px;
    display: inline-block;
    position: relative;
    width: 160px;
    left: 30px;
    padding: 1px;
    
}

/*dl dt.n4.on {
    height: 60px;
    line-height: 1.5;
    padding: 10px;
}
*/
dl dt.on::after {
    content: '';
    background: url(../img/arrow_up.png) no-repeat;
    display: block;
    width: 15px;
    background-size: 10px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 5px;
}

dl dt.n4.on::after {
    content: '';
    background: url(../img/arrow_up.png) no-repeat;
    display: block;
    width: 15px;
    background-size: 10px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 5px;
}

dl dd {
    margin-left: 35px;
    border-bottom: 1px solid #dfe0e0;
    /*display: none;*/
}


dl dt:first-child + dd {
    display: block;
}


.save {
    
    float: right;
}
.num{
    float: left;
}

.button_gr {
    float: left;
   
}

.button_gr li {
    display: inline-block;
     margin-left: 10px;
    font-weight: bold;

}
.num {
    margin-left: 1%;
    width: 520px;
}

.num li,
.save li {
    display: inline-block;
}

.num li {
    padding: 2px 12px;
    border: 1px solid #444343;
    float: left;
    width: 24%;
    text-align: center;
}

.num::after{clear: both;
    display: block;
    content: "";}

.num li:first-child,
.num li:nth-child(2),
.num li:nth-child(3) {
    border-right: 0;
}
.base {
      background:#d8d9db;;
      display: inline-block;
      height: 40px;
      margin-left: 20px;
      margin-top: 55px;
      position: relative;
      width: 100px;
      
    }
    .base:before {
      border-bottom: 20px solid #d8d9db;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    height: 0;
    right: -26;
    position: absolute;
    top: 10px;
    width: 0;
    transform: rotate(90deg);
    }
.first {
    border-bottom: 2px solid #2c3976;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: 5px;
}

.save li {
    display: inline-block;
    margin-right: 15px;
    width: 100px;
    padding: 6px 12px;
    background-color: #bfc2c5;
    border-radius: 6px;
    text-align: center;
}

.save li button {
    text-align: center;
    background-color: transparent;
}

.sec {
    border-bottom: 1px solid #dfe0e0;

}

.sec ul
{
    /*background-color: #d5e9f6;*/
    margin: 6px 5px 5px 0;
    
    padding: 0 2% 0 3%
}

.sec ul li{
    float: left;
    width: 17%;
    margin-right: 3%;
    position: relative;
}

.sec ul li .date{
   padding: 4px;
    width: 100%;
    border: 1px solid #3980c2;
    
}

.sec ul li > button
{
    width: 100%;
    display: block;
    font-size: 15px;
    background-color: #d8d9db;
    border-radius: 6px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}


.sec ul li:last-child {
    margin-right: 0;
}

.sec ul li button.on {
    background-color: #3980c2;

    font-size: 17px;
    color: #fff;
}

.sec ul li button.yet {
    background-color: #fff;
    border: 1px solid #3980c2;
}

.sec li p {
    background-color: #fff;
    padding: 5px 10px;
    width: 120px;
    margin: 8px auto;
    text-align: center;
}

legend {
    display: none;
}




.basic01 {
    float: left;
    width: 50%;
    margin-right: 1%;
    border-top: 2px solid #2c3976;
    border-bottom: 1px solid #2c3976;
    border-left: 1px solid rgb(214, 214, 214);
    border-right: 1px solid rgb(214, 214, 214);
}

.basic02 {
    float: left;
    width: 49%;
    border-top: 2px solid #2c3976;
    border-bottom: 1px solid #2c3976;
    border-left: 1px solid rgb(214, 214, 214);
    border-right: 1px solid rgb(214, 214, 214);
}

/* .forth {
    width: 99%;
    margin-right: 1%;

} */

.blue_input {
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    LINE-HEIGHT: 30px;
    FONT-SIZE: 14px;
    VERTICAL-ALIGN: bottom;
    BORDER-TOP: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
}

.blue_input.dis {
    background-color: #f2f2f3;
}

.blue_input.mar {
    margin-left: 10%;
}

.mar01 {
    margin-left: 55px;
}

.select_input {
    BORDER-BOTTOM: #8baed6 1px solid;
    BORDER-LEFT: #8baed6 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: 돋움, 굴림, sans-serif;
    COLOR: #141414;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    BORDER-TOP: #8baed6 1px solid;
    BORDER-RIGHT: #8baed6 1px solid
}

.select_input03 {
    padding: 8px 15px;
    width: 96%;
    BORDER: #dedede 1px solid;
    text-align: center;
}

.select_input01 {
    padding: 8px 15px;
    width: 30%;
    BORDER: #dedede 1px solid;
    text-align: center;
    margin-right: 15px;
}

.select_input02 {
    padding: 8px 15px;
    width: 62%;
    BORDER: #dedede 1px solid;
    text-align: center;
}

.blue_textarea_input {
    BORDER-BOTTOM: #8baed6 1px solid;
    BORDER-LEFT: #8baed6 1px solid;
    FONT-FAMILY: 돋움, 굴림, sans-serif;
    FONT-SIZE: 11px;
    OVERFLOW: hidden;
    BORDER-TOP: #8baed6 1px solid;
    BORDER-RIGHT: #8baed6 1px solid
}

.table_line {
    BORDER-BOTTOM: #a5c8f0 1px solid;
    BORDER-TOP: #a5c8f0 2px solid
}

.td_dark_blue {
    BORDER-BOTTOM: #c3c3c3 1px solid;
    LINE-HEIGHT: 37px;
    BACKGROUND-COLOR: #f0f2f5;
    text-align: center;
    COLOR: #16168a;
    FONT-SIZE: 15px;
    border-right: 1px solid rgb(214, 214, 214);
    border-left: 1px solid rgb(214, 214, 214);
}

.td_dark_gray {
    BORDER-BOTTOM: #c3c3c3 1px solid;
    BACKGROUND-COLOR: #fcfcfc;
    PADDING-LEFT: 10px;
    HEIGHT: 27px;
    COLOR: #5e6470;
    FONT-SIZE: 16px;
    position: relative;
    border-right: 1px solid rgb(214, 214, 214);
    border-left: 1px solid rgb(214, 214, 214);
}

.td_dark_gray.cen {
    text-align: center;
}

.td_dark_gray button.search01 {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/search.png) no-repeat center;
    background-size: 19px;
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 11px;
    right: 5%;
    cursor: pointer;
    background-color: none;
    border: 0;
}

.td_dark_gray.dot {
    border-bottom: 1px dotted #979696;
}

.td_dark_gray button.search02 {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/search.png) no-repeat center;
    background-size: 19px;
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 11px;
    right: 4%;
    cursor: pointer;
    background-color: none;
    border: 0;
}

.td_dark_gray button.search03 {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/search.png) no-repeat center;
    background-size: 22px;
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 11px;
    left: 48px;
    cursor: pointer;
    background-color: none;
    border: 0;
}

.td_dark_gray button.search04 {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/search.png) no-repeat center;
    background-size: 20px;
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 11px;
    right: 57%;
    cursor: pointer;
    background-color: none;
    border: 0;
}

button.download {
    background-color: #4179c4;
    color: #fff;
    display: block;
    margin: 3px auto;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 10px;
}

button.download01 {
    background-color: #4179c4;
    color: #fff;
    display: inline-block;
    margin: 3px 5px 3px 0px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 10px;
}

button.del {
    background-color: #9d9d9e;
    color: #fff;
    display: block;
    margin: 3px auto;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 10px;
}

button.del01 {
    background-color: transparent;
    color: #141414;
    display: block;
    margin: 0 auto;
}

button.del02 {
    background-color: #9d9d9e;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 10px;
}

.sep {
    text-align: center;
    border: 0;
    outline: none;
    background-color: transparent;
}

.third,
.forth,
.fifth,
.sixth,
.sevth,
.eigth,
.ninth {
    padding: 0 1% 10px;
    border-bottom: 1px solid rgb(168, 168, 164);

}

/* .first{
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  background-color: #fff;
  z-index: 999;
} */

.sec {
    width: 99%;
    margin-right: 1%;
    min-width: 1000px;
}

table {
    border-top: 2px solid #2c3976;
    border-bottom: 1px solid #2c3976;
}

input[type="text"] {
    text-align: center;
}

input[type="tel"] {
    text-align: center;
}

input[type="email"] {
    text-align: center;
}

p {
    text-align: center;
}

input[list] {
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
}

table.bor02 {
    border-top: 1px solid #2c3976;
}

table.bor01 {
    border-top: 1px solid #2c3976;
}

.line {
    line-height: 1.2;
}

span.dat {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
}

.td_dark_gray.fon {
    font-size: 12px;
}

.td_dark_gray.fon > input[checkbox] + label {
    margin-right: 35px;
}

div.contr{
    float: left;
    width: 76%;
}
div.contr > p > span {
    margin-right: 2%;
}
div.contr > p > button{
    background-color: transparent;
}
div.contr > p > button > img{
    width: 70%;

}
button.downl{
    float: left;

    margin-top: 10px;
}
.td_dark_gray.fon>input[type="checkbox"] + label {
    margin-right: 30px;
}

textarea {
    height: 70px;
    overflow-y: scroll;
}

button.add {
    background-color: transparent;
    display: block;
    margin: 0 auto 5px;

}

tbody td {
    font-size: 14px;
}

.ninth tbody td.td_dark_gray {
    font-size: 13px;
}

tbody th {
    font-weight: normal;
}

#footer {
    padding:15px 10px;
    border: 1px solid #444343;
    width: 98%;
    margin: 10px auto 20px;
}

#footer a {
    display: block;
    float: left;
    width: 40%;
    margin-left: 2%;

}

#footer a > img {
    width: 42%;
}

#footer span {
    display: block;
    width: 60%;
    float: left;
    margin-left: -16%;
    margin-top: 5px;
    border-left: 1px solid #444343;
    padding: 0 20px 0;
}

ul.last > li {
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 14%;

}

ul.last > li:first-child {
    margin-left: 3%;
}

ul.last > li > button {
    display: block;
    width: 100%;
    font-size: 16px;
}

ul.last > li > button.over {
    background-color: #d8d9db;
    padding: 23px;
    border-radius: 15px;
}

ul.last > li > button.now {
    background-color: #d1def1;
    padding: 23px;
    border-radius: 15px;
}

ul.last > li > button.yet01 {
    background-color: #d1def1;
    padding: 23px;
    border-radius: 15px;
}

ul.last > li:first-child {
    margin-left: 3%;

}

ul.last > li > ul > li > button.yet02 {
    background-color: #d1def1;
    padding: 6px 30px;
    border-radius: 8px;
    width:80%
}

ul.last > li > ul > li:first-child {
    margin-bottom: 5px;
}

.popup-wrap02 {

    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup02 {
    width: 800px;
    max-width: 900px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup02 > p.tit02 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background-color: #0f2585;
    height: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.popup03 > p.tit02 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background-color: #0f2585;
    height: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.popup04 > p.tit02 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background-color: #0f2585;
    height: 50px;
    margin-bottom: 15px;
    color: #fff;
}

p.tit02 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background-color: #0f2585;
    height: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.popup02 > table {
    width: 100%;

    text-align: center;
    margin: 5px auto;
}

.butt {
    text-align: center;
}

#close02 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm01 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}


.popup-wrap03 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup03 {
    width: 800px;
    max-width: 900px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup03 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close03 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm02 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap07 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup07 {
    width: 700px;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup07 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close07 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm07 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap08 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup08 {
    width: 800px;
    max-width: 900px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup08 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close08 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm08 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}


.popup-wrap04 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup04 {
    width: 800px;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup04 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close04 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm04 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap06 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup06 {
    width: 800px;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup06 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close06 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm06 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap05 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup05 {
    width: 500px;
    max-width: 500px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup05 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close05 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm05 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap09 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup09 {
    width: 800px;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup09 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close09 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm09 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap10 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup10 {
    width: 800px;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup10 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close10 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm10 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap11 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup11 {
    width: 800px;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup11 > table {
    width: 94%;
    height: 310px;
    text-align: center;
    margin: 5px auto;
}

#close11 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm11 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap12 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup12 {
    width: 750px;
    max-width: 750px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup12 > table {
    width: 98%;

    text-align: center;
    margin: 5px auto;
}

#close12 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm12 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap13 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup13 {
    width: 750px;
    max-width: 750px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup13 > table {
    width: 98%;

    text-align: center;
    margin: 5px auto;
}

#close13 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm13 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}

.popup-wrap14 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup14 {
    width: 960px;
    max-width: 960px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup14 > table {
    width: 960px;
    text-align: center;
    margin: 2px auto;
}

#close14 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm14 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
.popup-wrap18 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup18 {
    width: 960px;
    max-width: 960px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup18 > table {
    width: 960px;
    text-align: center;
    margin: 2px auto;
}

#close18 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm18 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
h4 > span {
    margin: 0 0px 0 35px;
}
select.year01, select.year02, select.year03, select.year04{
margin-left: 5px;
text-align: center;
}
.popup-wrap19 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup19 {
    width: 960px;
    max-width: 960px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup19 > table {
    width: 960px;
    text-align: center;
    margin: 2px auto;
}

#close19 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm19 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
.popup-wrap20 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup20 {
    width: 960px;
    max-width: 960px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup20 > table {
    width: 960px;
    text-align: center;
    margin: 2px auto;
}

#close20 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm20 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
.popup-wrap15 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup15 {
    width: 750px;
    max-width: 750px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup15 > table {
    width: 98%;

    text-align: center;
    margin: 5px auto;
}

#close15 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm15 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
.popup-wrap16 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup16 {
    width: 750px;
    max-width: 750px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup16 > table {
    width: 98%;

    text-align: center;
    margin: 5px auto;
}

#close16 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm16 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
.popup-wrap17 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
}

.popup17 {
    width: 750px;
    max-width: 750px;
    background-color: #ffffff;
    border: 1px solid #636363;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup17 > table {
    width: 98%;

    text-align: center;
    margin: 5px auto;
}

#close17 {
    padding: 8px;
    background-color: #b3b8bd;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm17 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
select.sky {
    padding: 9px;
    background-color: #cde0fc;
    border: none;
    font-size: 12px;
    border-radius: 7px;
    text-align: center;
    margin: 0 10px;
}

select.sky02 {
    border: none;
    text-align: center;
}

fieldset.pp {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
}

fieldset.pp table {
    margin: 15px auto;
}

button.pp_s {
    background-color: #b8d1f6;
    display: inline-block;
    padding: 7px 10px;
}

.td_dark_gray.cen.bo {
    font-weight: 200;
    font-size: 14px;
}

h4 {
    position: relative;
    margin-left: 15px;
}

h4::before {
    content: '';
    background: url(../img/arr_navy.png) no-repeat;
    position: absolute;
    background-size: 5px;
    height: 8px;
    width: 8px;
    display: block;
    top: 7px;
    left: -10px;
}
.itArea{
    line-height: 1.35;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
        
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important
}

.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important
}

.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important
}

.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important
}

.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important
}

.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important
}

.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important
}

.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important
}

.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important
}

span.fileblock{
    display: block;
    margin: 0 auto;
    width: 60%;
}
.p-0 {
    padding: 0 !important
}

.pt-0,
.py-0 {
    padding-top: 0 !important
}

.pr-0,
.px-0 {
    padding-right: 0 !important
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important
}

.pl-0,
.px-0 {
    padding-left: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1,
.py-1 {
    padding-top: .25rem !important
}

.pr-1,
.px-1 {
    padding-right: .25rem !important
}

.pb-1,
.py-1 {
    padding-bottom: .25rem !important
}

.pl-1,
.px-1 {
    padding-left: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2,
.py-2 {
    padding-top: .5rem !important
}

.pr-2,
.px-2 {
    padding-right: .5rem !important
}

.pb-2,
.py-2 {
    padding-bottom: .5rem !important
}

.pl-2,
.px-2 {
    padding-left: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3,
.py-3 {
    padding-top: 1rem !important
}

.pr-3,
.px-3 {
    padding-right: 1rem !important
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important
}


.p-5 {
    padding: 2rem !important
}

.pt-5,
.py-5 {
    padding-top: 2rem !important
}

.pr-5,
.px-5 {
    padding-right: 2rem !important
}

.pb-5,
.py-5 {
    padding-bottom: 2rem !important
}

.pl-5,
.px-5 {
    padding-left: 2rem !important
}


.p-6 {
    padding: 3rem !important
}

.pt-6,
.py-6 {
    padding-top: 3rem !important
}

.pr-6,
.px-6 {
    padding-right: 3rem !important
}

.pb-6,
.py-6 {
    padding-bottom: 3rem !important
}

.pl-6,
.px-6 {
    padding-left: 3rem !important
}

.m-0 {
    margin: 0 !important
}

.mt-0 {
    margin-top: 0 !important
}


.mr-0,
.mx-0 {
    margin-right: 0 !important
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important
}

.ml-0,
.mx-0 {
    margin-left: 0 !important
}

.m-05 {
    margin: .1rem !important
}

.mt-05,
.my-05 {
    margin-top: .1rem !important
}

.mr-05,
.mx-05 {
    margin-right: .1rem !important
}

.mb-05,
.my-05 {
    margin-bottom: .1rem !important
}

.ml-05,
.mx-05 {
    margin-left: .1rem !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1,
.my-1 {
    margin-top: .25rem !important
}

.mr-1,
.mx-1 {
    margin-right: .25rem !important
}

.mb-1,
.my-1 {
    margin-bottom: .25rem !important
}

.ml-1,
.mx-1 {
    margin-left: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2,
.my-2 {
    margin-top: .5rem !important
}

.mr-2,
.mx-2 {
    margin-right: .5rem !important
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important
}

.ml-2,
.mx-2 {
    margin-left: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3,
.my-3 {
    margin-top: 1rem !important
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important
}

.m-5 {
    margin: 2rem !important
}

.mt-5,
.my-5 {
    margin-top: 2rem !important
}

.mr-5,
.mx-5 {
    margin-right: 2rem !important
}

.mb-5,
.my-5 {
    margin-bottom: 2rem !important
}

.ml-5,
.mx-5 {
    margin-left: 2rem !important
}

.m-6 {
    margin: 2.5rem !important
}

.mt-6,
.my-6 {
    margin-top: 2.5rem !important
}

.mr-6,
.mx-6 {
    margin-right: 2.5rem !important
}

.mb-6,
.my-6 {
    margin-bottom:2.5rem !important
}

.ml-6,
.mx-6 {
    margin-left: 2.5rem !important
}

.m-7{
    margin: 3rem !important
}

.mt-7,
.my-7 {
    margin-top: 3rem !important
}

.mr-7,
.mx-7 {
    margin-right: 3rem !important
}

.mb-7,
.my-7 {
    margin-bottom: 3rem !important
}

.ml-7,
.mx-7 {
    margin-left: 3rem !important
}

.m-8{
    margin: 3.5rem !important
}

.mt-8,
.my-8 {
    margin-top: 3.5rem !important
}

.mr-8,
.mx-8 {
    margin-right: 3.5rem !important
}

.mb-8,
.my-8 {
    margin-bottom: 3.5rem !important
}

.ml-8,
.mx-8 {
    margin-left:  3.5rem !important
}

.m-10{
    margin: 3.5rem !important
}

.mt-10,
.my-10 {
    margin-top: 5rem !important
}

.mr-10,
.mx-10 {
    margin-right: 5rem !important
}

.mb-10,
.my-10 {
    margin-bottom: 5rem !important
}

.ml-10,
.mx-10 {
    margin-left:  5rem !important
}

.m-n1 {
    margin: -.25rem !important
}

.mt-n1,
.my-n1 {
    margin-top: -.25rem !important
}

.mr-n1,
.mx-n1 {
    margin-right: -.25rem !important
}

.mb-n1,
.my-n1 {
    margin-bottom: -.25rem !important
}

.ml-n1,
.mx-n1 {
    margin-left: -.25rem !important
}

.m-n2 {
    margin: -.5rem !important
}

.mt-n2,
.my-n2 {
    margin-top: -.5rem !important
}

.mr-n2,
.mx-n2 {
    margin-right: -.5rem !important
}

.mb-n2,
.my-n2 {
    margin-bottom: -.5rem !important
}

.ml-n2,
.mx-n2 {
    margin-left: -.5rem !important
}

.m-n3 {
    margin: -1rem !important
}

.mt-n3,
.my-n3 {
    margin-top: -1rem !important
}

.mr-n3,
.mx-n3 {
    margin-right: -1rem !important
}

.mb-n3,
.my-n3 {
    margin-bottom: -1rem !important
}

.ml-n3,
.mx-n3 {
    margin-left: -1rem !important
}

.m-n4 {
    margin: -1.5rem !important
}

.mt-n4,
.my-n4 {
    margin-top: -1.5rem !important
}

.mr-n4,
.mx-n4 {
    margin-right: -1.5rem !important
}

.mb-n4,
.my-n4 {
    margin-bottom: -1.5rem !important
}

.ml-n4,
.mx-n4 {
    margin-left: -1.5rem !important
}

.m-n5 {
    margin: -3rem !important
}

.mt-n5,
.my-n5 {
    margin-top: -3rem !important
}

.mr-n5,
.mx-n5 {
    margin-right: -3rem !important
}

.mb-n5,
.my-n5 {
    margin-bottom: -3rem !important
}

.ml-n5,
.mx-n5 {
    margin-left: -3rem !important
}

.m-auto {
    margin: auto !important
}

.mt-auto,
.my-auto {
    margin-top: auto !important
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important
}

.ml-auto,
.mx-auto {
    margin-left: auto !important
}
/*-----------------------홀수 짝수구분-------------------------------*/
 .odd_num > td{
background-color: #d5e1f3;
}
 .even_num > td{
    background-color: #ebf0f7;
    }
/*---------------------------sub_01.html---------------------------*/
#content{
	width: 99%;
	margin: 1% auto;
}
.cont04{
    margin-bottom: 80px;
}
.cont02{
    margin: 20px 0;
}
.td_dark_white {
	BORDER-BOTTOM: #c3c3c3 1px solid; 
	LINE-HEIGHT: 37px; 
	BACKGROUND-COLOR: #fff;
	text-align: center;
	COLOR: #16168a; 
	FONT-SIZE: 15px;
	border-right: 1px solid rgb(214, 214, 214);
	border-left: 1px solid rgb(214, 214, 214);
}

.td_dark_blank {
    vertical-align: text-top;
	text-align: left;
	BORDER-BOTTOM: #c3c3c3 1px solid;
    BACKGROUND-COLOR: #fff; 
    HEIGHT: 27px; COLOR: #5e6470; 
	FONT-SIZE: 16px;
	position: relative;
	border-right: 1px solid rgb(241, 241, 241);
	border-left: 1px solid rgb(214, 214, 214);
}
tr .td_dark_blank:last-child{
    border-right: 1px solid rgb(214, 214, 214);
}
.td_dark_blank > p.line01{
	padding:0 20px;
	text-align: left;
    position: relative;
}

.td_dark_blank > p.line01 > span{
	line-height: 2.5;
}
.td_dark_blank > p.line05{
	padding:0 20px;
	text-align: left;
    position: relative;
}
.td_dark_blank > p.line05 > span{
    margin-right: 60px;
}
.td_dark_blank > p.line01 >button{
    position: absolute;
    top:6px; right: 10px;
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    border: 1px solid #5e6470;
    border-radius: 4px;
}
.td_dark_white.dott{
	border-bottom: 1px dotted #444343;
}
.td_color{
    text-align: left;
	BORDER-BOTTOM: #c3c3c3 1px solid;
    BACKGROUND-COLOR: #fff; 
	PADDING-LEFT: 23px; 
    HEIGHT: 27px; COLOR: #5e6470; 
	FONT-SIZE: 16px;
	position: relative;
	border-right: 1px solid rgb(214, 214, 214);
	border-left: 1px solid rgb(214, 214, 214);
}
table.condition{
    border-bottom: none;
}
td.td_bornon{
    border: none;
    }
    
    td.bor_right{
      padding: 0;
      border-right:1px solid rgb(214, 214, 214) ;
    }
    td.td_border{
      border-bottom: 1px solid #c3c3c3;
      LINE-HEIGHT: 37px;
      BACKGROUND-COLOR: #fff;
      text-align: center;
      COLOR: #16168a;
      FONT-SIZE: 15px;
      border-right: 1px solid rgb(214, 214, 214);
      border-left: 1px solid rgb(214, 214, 214);
    }
    td.td_border.borno01{
      border-left: none;
    }
    td.td_border.borno02{
      border-right: none;
    }
    td.td_border.borno03{
        border-bottom: none;
    }
    td.bor_right > a{
      display: block;
      width: 100%;
      background-color: #e3e3e9;
      padding: 4px 0;
      text-align: center;
      font-weight: bold;
    }
    td.bor_right.dott{
        border-bottom:1px dotted #444343;;
    }
    #viewhidden{
        position: relative;
    }
    #viewhidden::after{
        content: "";
        display: block;
        position: absolute;
        top:50%;
        left: 56%;  
       background: url(../img/menu_arrow.png) no-repeat;
       width: 16px; height: 8px;
       transform: translate(-50%, -50%);
      }
    #hidden{
      border:none;
      border-top: none;
    }
    #hidden > td{
      border-right: none;
      border-left: none;
    }
    
    table.noline{
      border-bottom: none;
      border-top: none;
    }


#sortable>li{
border-radius: 5px;
width: 23%;
margin: 10px 1%;
float: left;
}

.orange{
    background-color:#fbcfb1 ;
}
.green{
    background-color:#ccffcc ;
}
.pink{
    background-color:#fce1f3 ;
}
.yellow{
    background-color:#ffffcc ;
}
.blue{
    background-color:#d6ecfa ;
}
.purple{
    background-color:#e9d7fe;
}
.red{
    background-color:#fed7d9;
}
#sortable li.pink{
    background-color: #fce1f3;
}
#sortable li.green{
    background-color: #ccffcc;
}
#sortable li.orange{
    background-color:#fbcfb1 ;
}
#sortable li.blue{
    background-color:#d6ecfa ;
}
#sortable li.yellow{
    background-color:#ffffcc ;
}
#sortable li.purple{
    background-color:#e9d7fe;
}
#sortable li.red{
    background-color:#fed7d9;
}

p.line02{
    text-align: right;
    margin: 20px 0;
}
button.btn_dnd{
    background-color: #3f9dfc;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 250px;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
}

/*--------------------필터-----------------------*/
.popup-wrap21 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 1100;
    
}

.popup21 {
    border-radius: 20px;
    width: 510px;
    background-color: #ffffff;
    border: 1px solid #636363;
    height: 600px;
    overflow-y: scroll;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup21 > table {
    width:100%;
    margin: 5px 0;
}

#close21 {
    padding: 8px;
    border: 1px solid #5e6470;
    display: inline-block;
    margin: 10px auto;
    color: rgb(95, 92, 92);
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

#confirm21 {
    padding: 8px;
    background-color: #3f9dfc;
    display: inline-block;
    margin: 10px auto;
    color: #fff;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 10px;
}
#modal-open21{
    display: block;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    background-color: #b8b7b7;
    color:rgb(8, 8, 8);
    line-height: 1.5;
    margin-top: 20px;
    border-radius: 10px;
}

